<div>
  <h1>eBooks Overview</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in $ctrl.eBooks">
        <td>
          <div class="title">{{product.title}}</div>
        </td>
        <td>
          <div class="author">{{product.author}}</div>
        </td>
        <td>
          <div class="year">{{product.year}}</div>
        </td>
        <td>
          <div class="description">{{product.description}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
