<div class="container">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span>bookShop 2000</span>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="col-lg-8 col-md-8">
      <e-books></e-books>
    </div>
    <div class="col-lg-4 col-md-4">
      <comments></comments>
    </div>
  </div>
</div>
