<h1>{{ $ctrl.name }}</h1>

<div class="comments" ng-if="$ctrl.comments.length">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="comment in $ctrl.comments">
      <cite>{{comment.username}}</cite>
      <p><em>{{comment.content}}</em></p>
      <date>{{comment.timestamp}}</date>
    </li>
  </ul>
</div>
